@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import icons
@import '~material-design-icons/iconfont/material-icons.css';

// Colors
$verdrigis: #4DB6AC;
$blue-yonder: #4D7298;
$tea-green: #D0EFB1;
$cambridge-blue: #9DC3C2;
$grey: #707070;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $verdrigis;
$link: $cambridge-blue;

// Update some of Bulma's component variables
$body-background-color: rgba($cambridge-blue, 0.1);
$input-border-color: transparent;
$navbar-background-color: $blue-yonder;
$navbar-item-color: $white;
$input-shadow: none;

$table-head-cell-color: $white;
$table-head-background-color: rgba($blue-yonder, 0.6);
$table-color: $grey;

// Button
$button-color: $blue-yonder;
$button-background-color: $tea-green;
$button-border-color: $tea-green;
$button-family: $family-sans-serif; // bold and upper case

$button-hover-color: $white;
$button-text-hover-background-color: $verdrigis;
$button-hover-border-color: $verdrigis;

// define button hover background color

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/message.sass"; // needed for $message-colors function
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

.title.is-4 {
  color: $verdrigis;
}

.title.is-3 {
  color: $grey;
}

.title.is-2 {
  color: $blue-yonder;
  text-transform: uppercase;
  font-size: 2rem;

}

.big-source {
  font-size: 1.875rem;
  color: $grey;
}

.small-source {
  font-size: 1.375rem;
  color: $grey;
}

.img-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title.is-1 {
  color: $verdrigis;
  font-weight: normal;
  font-size: 3.4375rem;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-7px);
  background-color: $verdrigis;
  box-shadow: -0.5rem 0.5rem rgba($verdrigis, 0.2);
  //filter: drop-shadow(-0.5rem 0.5rem rgba($verdrigis, 0.2));
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}
.homepage {
  min-height: 100vh;
}

.homepage img {
  filter: grayscale(100%);
}

div {
  font-size: 1.375rem;
  color: $grey;
}

.sticky {
  position: sticky;
  top: 30px;
}

.ft-workflow { 
  overflow: hidden; 
}
ul.ft-workflow {
  justify-content: center;
  border-bottom-style: none;
} 
.ft-workflow li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 65px;
  background: $verdrigis;
  position: relative; 
}
.ft-workflow li a::after {
  content: " ";
  width: 0; 
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid $verdrigis;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}
.ft-workflow li a::before { 
  content: " "; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}
.ft-workflow li:first-child a {
  padding-left: 10px;
}
.ft-workflow li a:hover {
  background: $verdrigis;
}
.ft-workflow li a:hover:after { 
  border-left-color: $verdrigis !important;
}
