@charset "utf-8";

// PRODUCT LIST
.homepage {
  margin-top: 5rem;
  min-height: 100vh;
}

.homepage img {
  filter: grayscale(100%);
}

.card-header.product {
  background-color: $tea-green;
  font-family: $nunito;
  p {
    color: #4D7298;
    font-size: 1rem;
    letter-spacing: 1.28px;
  }
}
.card-footer {
  a {
    font-weight: normal;
  }
}

// Edit Process
.help {
  font-size: 1rem;
}
.basic, .review, .configure {
  h1 {
    margin-bottom: 0 !important;
  }
  h4 {
    margin-bottom: 2rem;
  }
}
.progress-step.is-complete .progress-marker::before, .progress-step.is-progress .progress-marker::before {
	background-color: #3AC8C1 !important;
}
.progress-step.is-active .progress-marker::before {
	background-color: #989898 !important;
}
.progress-marker::before {
	width: 3rem !important;
  height: 3rem !important;
  cursor: pointer;
}
.progress-marker::after {
	top: 1.25rem !important;
	height: 0.5rem !important;
}
.progress-step:hover .progress-marker::before {
	background-color: #4D7298 !important;
}
.progress-step.is-complete .progress-marker::after, .progress-step.is-progress .progress-marker::after {
	background-color: #3AC8C1 !important;
}
.section.product-progress {
  padding-bottom: 0;
}
// Report
.report {
  margin-top: 5rem;
  .report-headline {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  h3.title.is-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .columns.box {
    margin: 0;
  }
  .menu a, .menu p {
    font-size: 1.375rem;
  }
  .menu a {
    font-weight: normal;
    font-family: $nunito;
  }
  .menu-label {
    text-transform: none;
  }
}

.table-fader {
  background: linear-gradient(to right,
  rgb(251, 251, 251) 0%,
  rgba(251, 251, 251, 0) 100%);
}

.chart {
  border-color: #CACACA;
  border-style: solid;
  border-width: 1px;
}